h1{
    color: rgb(141, 38, 38);
}
img{
    width: 400px;
}
#thirdDiv{
    height: 500px;
    width: 600px;
    background-color: rgba(55, 175, 175, 0.342);
    padding: 50px;
    border: 10px solid rgb(18, 6, 29);
}
#spanId{
    font-size: 18px;
    margin: 50px;
}